* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas#main-scene {
  position:fixed;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
}

/* Remove if building off canvas scroll interactions */
html,
body
{
    overflow: hidden;
}